<!DOCTYPE html>
<html>
  <head>
    <title>dak</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="/javascripts/lib/highcharts/highcharts.js" type="text/javascript"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
  </head>
  <body>
    <%- body %>
  </body>
</html>
