<!DOCTYPE html>
<html>
  <head>
    <title>dak</title>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("jquery", "1.7.1");
      google.load("jqueryui", "1.8.16");
    </script>
    <script type="text/javascript" src="/javascripts/lib/highcharts/highcharts.js"></script>
    <script type="text/javascript" src="/javascripts/lib/jquery-ui-timepicker-addon.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/DataTables-1.9.1/media/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/lib/kadusam/FetchData.js"></script>
    <script type="text/javascript" src="/lib/kadusam/ChartData.js"></script>

    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/lib/DataTables-1.9.1/media/css/jquery.dataTables.css">
  </head>
  <body>
    <%- body %>
  </body>
</html>

